:root {
 --backgroundFooter: #d8f3d3;
 --brandcolor:#95d5b2;
  --backgrounds: #6c3b70;
  --skyBlue: #7dd3fc;
  --borders: rgb(211, 209, 209);
  --trophies: #ffd700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Yekan;
  src: url(../assets/B_Yekan/Yekan.ttf);
}

body {
  direction: rtl;
  font-family: Yekan;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  position: relative;

  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbarMenu {
  width: 100%;
  border-bottom: 1px solid var(--borders);
}

.navbarMenu .listOfproducts li a {
  position: relative;
}

.navbarMenu .listOfproducts li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 0;
  height: 2px;
  background: var(--brandcolor);
  transition: 300ms ease;
}

.navbarMenu .listOfproducts li a:hover {
  color: var(--brandcolor);
}

.navbarMenu li a:hover::after {
  width: 100%;
}

.navbarMenu .listOfproducts {
  max-width: 55%;
  padding-right: 50px;
  list-style: none;
  display: flex;
  gap: 25px;
  white-space: nowrap;
}

.navbarMenu .listOfproducts li {
  display: flex;
  gap: 10px;
}

.navbarMenu .listOfproducts li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.navbarMenu .listOfproducts li img {
  width: 40%;
  height: 70%;
  vertical-align: middle;
}

.brandName {
  width: 15%;
  height: auto;
  display: flex;
  justify-content: center;
}

.inputHolder .fa-magnifying-glass {
  position: absolute;
  top: 40px;
  right: 16%;
  color: var(--borders);
}

.brandName p {
  font-size: 30px;
  color: var(--brandcolor);
}

.inputHolder {
  width: 50%;
}

.inputHolder input {
  width: 85%;
  height: 35px;
  border-radius: 5px;
  padding-right: 35px;
  box-shadow: 1px 1px 5px #000;
  border: none;
  font-family: Yekan;
}

.buttonsAndbasket {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding-left: 35px;
}

.buttonsAndbasket button {
  border: 1px solid var(--borders);
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-family: Yekan;
}
main {
  width: 100%;
}

.heroHolder {
  width: 100%;
  height: 100%;
  position: relative;
}

.secondImg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 98%;
  display: block;
  border-radius: 10px;
  animation: second 9s infinite;
}

.heroHolder .firstImg {
  width: 98%;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  animation: first 9s infinite;
}

@keyframes first {
  0%,
  33% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes second {
  0%,
  33% {
    opacity: 0;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.shopBycategory {
  width: 99%;
  padding: 10px;
}

.firstCategory {
  width: 15%;
  height: 100%;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.12),
    inset 0 0 8px rgba(0, 0, 0, 0.08);

  text-align: center;
  overflow: hidden;
}

.firstCategory img {
  width: 100%;
  transition: transform 0.3s ease;
}

.firstCategory:hover img{
  transform: scale(1.1);
}

.firstCategory p a {
  color: #000;
  text-decoration: none;
}

.categoryHolder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.social {
  width: 98%;
  height: auto;
  background-color: var(--backgrounds);
  box-shadow: 1px 1px 5px #000;
  border-radius: 5px;
  margin: 0 auto;
}

.social p,
.social p a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.social i {
  vertical-align: middle;
}

.headerImg {
  width: 98%;
  border-radius: 0 0 15px 15px;
  display: block;
  margin: 30px auto;
}

.bestOfferHolder {
  width: 98%;
  height: 370px;
  overflow: hidden;
  margin: 65px auto;
}

.bestSellerbtn {
  width: 90%;
  margin: 0 auto;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.12),
    inset 0 0 8px rgba(0, 0, 0, 0.08);
}

.offers {
  width: max-content;
  height: 350px;
  background-color: var(--backgrounds);
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
 
}

.cards {
  position: relative;

  width: 14%;
  height: 300px;
  background-color: #fff;
  animation: move 20s linear infinite alternate;
}

.cards .oldPrice {
  text-decoration: line-through;
}

.badgeandprice {
  max-width: 80%;
  display: flex;
  margin: 0 auto;
}

.newPrice {
  text-align: center;
  font-weight: 900;
}

.badge {
  width: 25%;
  background-color: red;
  text-align: center;
  border-radius: 15px;
}

.cards p {
  width: 85%;
  font-size: 15px;
  margin: 0 auto;
}

.dogImg {
  width: 14%;
  height: 250px;
  background-color: var(--backgrounds);
}

.dogImg img {
  width: 100%;
  height: auto;
}

.cards img {
  width: 50%;
  height: 150px;
  display: block;
  margin: 0 auto;
}

.cards a {
  color: #000;
  text-decoration: none;
}

.badge {
  color: #fff;
}

.basketIcon {
  position: absolute;
  top: 0;
  width: 25%;
  padding: 15px;
  display: none;
  background-color: #fff;
  box-shadow: 1px 1px 5px #000;
  text-align: center;
  cursor: pointer;
}

.sixthOrder:hover .basketIcon,
.fifthOrder:hover .basketIcon,
.fourthOrder:hover .basketIcon,
.thirdOrder:hover .basketIcon,
.secondOrder:hover .basketIcon,
.firstOrder:hover .basketIcon {
  display: block;
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(900px);
  }
}

.mainCategory{
  margin-bottom: 30px;
}

.mainCategory h3 {
  margin-top: 20px;
  text-align: center;
}

.category {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.categoryPics:hover img{
  transform: scale(1.1);
}

.categoryPics {
  width: 15%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.categoryPics img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.afterImportantCategory {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.afterImg {
  width: 48%;

   box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.12),
    inset 0 0 8px rgba(0, 0, 0, 0.08);
}

.afterImportantCategory img {
  width: 100%;
  height: auto;
}

.newProduct {
  width: 100%;
  margin-top: 30px;
}

.newHolder {
  width: 99%;
  height: 500px;
  border: 1px solid var(--borders);
  border-radius: 15px;
  margin: 0 auto;
}

.descriptions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.descriptions h3 {
  border-bottom: 2px solid var(--borders);
}
.descriptions a {
  text-decoration: none;
  color: var(--skyBlue);
}

.newproductHolder {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.newProductCard {
  width: 15%;
  height: 300px;
  border-left: 1px solid var(--borders);
  color: #000;
  text-decoration: none;
}

.newProductCard img {
  width: 100%;
}

.newProductCard .newProductParagraph span {
  font-size: 15px;
}

.newProductCard .newProductParagraph {
  font-size: 12px;
}

.newProductCard .oldPrice {
  text-decoration: line-through;
}

.newProductbadgeandprice {
  max-width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.newPrice {
  text-align: center;
}

.bestSellers {
  width: 100%;
  height: auto;
}

.bestSellers h3,
.shopBycategory h3 {
  padding: 15px;
}

.bestSellers i {
  color: var(--trophies);
}

.bestSellersHolder {
  width: 99%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}

.puzzleToy {
  width: 15%;
  height: auto;
  border: 1px solid var(--borders);
  border-radius: 5px;
  text-align: center;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.12),
    inset 0 0 8px rgba(0, 0, 0, 0.08);
}

.puzzleToy:hover img{
  transform: scale(1.1);
}

.puzzleToy img {
  width: 90%;
  height: 180px;
  margin: 0 auto;
  display: block;
    transition: transform 0.3s ease;

}

.priceandstars {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: end;
}

.priceandstars p {
  padding-left: 10px;
}

.bestSellerbtn {
  margin-bottom: 10px;
  border: none;
  background-color: var(--skyBlue);
  height: 25px;
  color: #fff;
  font-family: Yekan;
  border-radius: 5px;
  cursor: pointer;
    transition: background-color 0.2s ease;

}

.bestSellerbtn:hover{
   background-color: #2088bd;
}

.starHolder {
  padding: 10px;
}

.toyCollection {
  width: 99%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
   box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.12),
    inset 0 0 8px rgba(0, 0, 0, 0.08);

}

.toyCollection .first {
  width: 40%;
  height: 300px;
  display: block;
}

.first img,
.second img,
.third img,
.fourth img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.toyCollection .second {
  width: 15%;
  height: 300px;
  border-radius: 5px;
}

.toyCollection .third {
  width: 20%;
  border-radius: 5px;
}

.toyCollection .fourth {
  width: 20%;
  border-radius: 5px;
}

.brands {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.brandHolder {
  width: 99%;
  height: 300px;
  border: 1px solid var(--borders);
  border-radius: 15px;
  margin: 0 auto;
}

.brandImgHolder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.brandImgHolder img {
  width: 10%;
  height: 40%;
}
/*footer*/
.brandHolder h3 {
  padding: 20px;
}

footer{
  width: 99%;
  height: auto;
  border: 1px solid var(--borders);
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 15px;
  background-color: var(--backgroundFooter);
}

.rows{
  max-width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.firstrowfooter input , .firstrowfooter button{
  font-family: yekan;
}

.firstrowfooter p{ 
  width: 100%;
}

.firstrowfooter input{
  width: 50%;
}

.firstrowfooter h3 , .secondrowfooter h1{
  width: 30%;
  color: var(--brandcolor);
}
.firstrowfooter button{
  width: 10%;
}

.first-line {
  width: 100%;
  background-color: var(--borders);
}

.second-line{
  width: 50%;
  background-color: var(--borders);
}

.firstColumn{
  width: 15%;
}

.firstColumn h1{
  width: 100%;
}

.iconHolder{
  list-style: none;
  display: flex;
}

.iconHolder li{
  font-size: 25px;
}

.fa-whatsapp{
  color: #25D366;
  
}

.fa-telegram{
  color: #229ED9;
}

.samestyleColumn{
  width: 10%;
}

.samestyleColumn ul{
  list-style: none;
}

.samestyleColumn ul li{
  font-size: 15px;
}

.samestyleColumn ul li a{
  text-decoration: none;
  font-size: 15px;
  color: #000;
}

.sixthColumn{
  width: 25%;
  height: 200px;
}

.sixthColumn iframe{
  width: 100%;
  height: 180px;
  margin-top: 5px;
}

.lastOffooter{
  text-align: center;
}

.lastOffooter i{
  color: #ff0000;
}

@media only screen and (max-width: 567px) {
  .categoryPics {
    width: 30%;
  }
  .secondImg {
    position: static;
    width: 45%;
    height: 250px;
    animation: none;
    margin: 10px auto;
    object-fit: cover;
  }
  .heroHolder {
    display: flex;
  }
  .heroHolder .firstImg {
    width: 45%;
    height: 250px;
    animation: none;
    object-fit: cover;
  }

  .newHolder {
    border: none;
    height: auto;

    border-bottom: 1px solid var(--borders);
  }
  .firstCategory {
    width: 45%;
  }


  .newProductCard {
    width: 45%;
    height: auto;
    border-left: none;
  }
  .newProductbadgeandprice {
    max-width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .puzzleToy {
    width: 45%;
  }
  .bestOfferHolder {
    width: 90%;
    height: auto;
    overflow: none;
  }
  .cards {
    height: auto;
    width: 90%;
    animation: none;
    margin: 0 auto;
  }
  .offers {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .bestSellers {
    height: auto;
  }
  .toyCollection .first,
  .toyCollection .second,
  .toyCollection .third,
  .toyCollection .fourth {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .toyCollection {
    height: auto;
    flex-direction: column;
  }
  .brandHolder {
    width: 90%;
    height: auto;
    margin: 0 auto;
    border: none;
  }
  .brandImgHolder {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 auto;
  }
  .brandImgHolder img {
    width: 45%;
    display: block;
    margin: 0 auto;
  }.rows{
    width: 90%;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }.firstrowfooter h3{
    width: 100%;
  }.firstrowfooter button{
    width: 25%;
  }.secondrowfooter{
    width: 100%;

  }.firstColumn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }.second-line{
    display: none;
  }.first-line{
    margin-top: 10px;
  }footer{
    width: 90%;
  }.samestyleColumn{
    width: 90%;
  }.sixthColumn iframe{
    width: 90%;
  }.sixthColumn{
    width: 100%;
  }
}

/*For Categories*/
@media only screen and (min-width: 568px) and (max-width: 767px) {
  .categoryPics {
    width: 25%;
  }
  .categoryPics img {
    width: 90%;
  }
  .firstCategory {
    width: 25%;
  }
  .newProductCard {
    width: 30%;
    height: auto;
    gap: 10px;
  }
  .puzzleToy {
    width: 25%;
  }
  .toyCollection .first,
  .toyCollection .second,
  .toyCollection .third,
  .toyCollection .fourth {
    width: 45%;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .toyCollection {
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
  }
  .brandHolder {
    border: none;
  }.rows{
    width: 90%;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }.firstrowfooter h3{
    width: 100%;
  }.firstrowfooter button{
    width: 25%;
  }.secondrowfooter{
    width: 100%;

  }.firstColumn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }.second-line{
    display: none;
  }.first-line{
    margin-top: 10px;
  }footer{
    width: 90%;
  }.samestyleColumn{
    width: 90%;
  }.sixthColumn iframe{
    width: 90%;
  }.sixthColumn{
    width: 100%;
  }
}
/*Phone and Tablet*/
@media only screen and (max-width: 767px) {
  .brandName {
    width: 50%;
    order: 1;
  }

  .buttonsAndbasket {
    width: 50%;
    height: auto;
    order: 2;
  }

  .inputHolder {
    width: 100%;

    order: 3;
  }

  .inputHolder input {
    width: 90%;
    display: block;
    margin: 50px auto;
  }

  .inputHolder .fa-magnifying-glass {
    top: 62%;
    right: 7%;
  }

  .navbarMenu {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .navbarMenu .listOfproducts {
    width: max-content;
    max-width: none;
    padding-right: 0;
    gap: 10px;
  }
  .navbarMenu::-webkit-scrollbar {
    display: none;
  }

  .navbarMenu .listOfproducts li img {
    width: 25px;
    height: 25px;
  }

  .navbar {
    height: auto;
    min-height: 100px;
  }
  .afterImportantCategory {
    flex-direction: column;
    gap: 30px;
  }
  .afterImg {
    width: 95%;
    margin: 0 auto;
  }
  .afterImg img {
    width: 100%;
  }
  .newHolder {
    border: none;
    height: auto;
  }
}
/*Tablets*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbarMenu .listOfproducts {
    max-width: 75%;
  }

  .navbarMenu .listOfproducts li img {
    width: 35%;
  }

  .navbarMenu .listOfproducts {
    gap: 25px;
  }
  .categoryPics {
    width: 20%;
  }
  .categoryPics img {
    width: 80%;
  }
  .newHolder {
    border: none;
    height: auto;
  }
  .firstCategory {
    width: 20%;
  }
  .newProductCard {
    width: 25%;
    height: auto;
    box-shadow:
      0 4px 12px rgba(0, 0, 0, 0.12),
      inset 0 0 8px rgba(0, 0, 0, 0.08);
    gap: 10px;
  }
  .puzzleToy {
    width: 20%;
  }
  .newproductHolder {
    gap: 10px;
  }
  .toyCollection .first,
  .toyCollection .second,
  .toyCollection .third,
  .toyCollection .fourth {
    width: 45%;
    flex-wrap: wrap;
  }
  .toyCollection {
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
  }
  .brandHolder {
    border: none;
  }.rows{
    width: 90%;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }.firstrowfooter h3{
    width: 100%;
  }.firstrowfooter button{
    width: 25%;
  }.secondrowfooter{
    width: 100%;

  }.firstColumn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }.second-line{
    display: none;
  }.first-line{
    margin-top: 10px;
  }footer{
    width: 90%;
  }.samestyleColumn{
    width: 90%;
  }.sixthColumn iframe{
    width: 90%;
  }.sixthColumn{
    width: 100%;
  }
}
